.header-main {
	// background-color: red;
	display: flex;
	height: 100px;
	justify-content: space-around;
	align-items: center;
	padding: 0px 10%;
	z-index: 10;
	
}
.hamburg {
	display: none;
}
.diamond {
	width: 10%;
	height: 80px;
	> a {
		display: flex;
		align-items: center;
		height: 100%;
		> img {
			height: 40%;
			width: auto;
		}
	}
}
.item-container {
	height: 100%;
	width: 60%;
	> div {
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		> div {
			margin: 0px 15px;
			> a {
				width: 100%;
				font-size: 18px;
				text-decoration: none;
				color: white;
				font-weight: bold;
				&:hover {
					color: rgba(255, 255, 255, 0.545);
				}
			}
		}
	}
}
.flag-container {
	width: 100px;
	height: 100%;
	> a {
		height: 100%;
		font-size: 18px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 10px;
		text-decoration: none;
		> div {
			color: white;
			font-weight: bold;
			> img {
				height: 20px;
				width: auto;
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.hamburg {
		display: block;
		font-size: 28px;
		color: white;
		cursor: pointer;
	}
	.diamond {
		display: none;
	}

	.item-container {
		width: 100%;
		transition: 0.5s;
		position: absolute;
		top: 80px;
		> div {
			width: 100%;
			justify-content:start ;
			flex-direction: column;
			position: absolute;
			top: -120%;
			height: 260px;
			left: 0px;
			transition: 0.5s;
			height: 90vh;

			background-color: rgb(243, 250, 244);
			> div {
				display: block;
				border: 0px;
				min-width: 95%;
				max-width: 700px;
				padding: 15px 0px;
				> a {
					padding: 15px 30px;
					color: black;
					&:hover {
						color: rgba(20, 2, 2, 0.545);
					}
				}
			}
		}
	}
	.in-out-meny {
		top: 0px !important;
		width: 100%;
	}
}
